[Desktop Entry]
Version=0.1
Type=Application
Name=Exigence Executable Installer Uninstaller
Comment=uninstalls installer utitlity
Keywords=Exigence-executable-installer-uninstaller;uninstaller;exigence;uninstall
Exec=/usr/bin/exigence-executable-installer-uninstaller.sh
Icon=Executable-Installer
Terminal=true
Categories=Executables;uninstaller;Utitlity;
StartupNotify=true

