[Desktop Entry]
Version=0.1
Type=Application
Name=Exigence Executable Installer
Comment=installs executable by copying and pasting
Keywords=Exigence-executable-installer;installer;exigence;install
Exec=/usr/bin/exigence-executable-installer.py
#Icon=Executable-Installer
Terminal=true
Categories=Executables;Installer;Utitlity;
StartupNotify=true


