[Desktop Entry]
Version=0.1
Type=Application
Name=Exigence Executable Uninstaller
Comment=uninstalls installer utitlity
Keywords=Exigence-executable-uninstaller;uninstaller;exigence;uninstall
Exec=/usr/bin/exigence-executable-uninstaller.sh
Icon=Executable-Installer
Terminal=true
Categories=Executables;Installer;Utitlity;
StartupNotify=true
